In [7]:
import pandas as pd
import numpy as np

In [8]:
import os

In [9]:
os.listdir()

['.ipynb_checkpoints', 'athlete_events.csv', 'Pivot_tables_with_pandas.ipynb']

In [10]:
df=pd.read_csv('athlete_events.csv')

In [11]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [12]:
df.shape

(271116, 15)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

# what is the average height of olympic atheletes

In [16]:
df.Height.mean()

175.33896987366376

# what was the average height of olympics per year

In [20]:
average_heght_per_year=df.groupby('Year')[['Height']].mean()

In [31]:
average_heght_per_year.head()

          Height
Year
1896  172.739130
1900  176.637931
1904  175.788732
1906  178.206226
1908  177.543158

# what was the average height of olympics per sex

In [43]:
avg_ht_sex=df.groupby('Sex')[['Height']].mean()

In [44]:
avg_ht_sex

         Height
Sex
F    167.839740
M    178.858463

# what was the average height of athetes, per year and per country?
# for each distinct year -Categorical data
# for each distinct team - Categorical data
# what was the average Height - Numerical data

# How do we do that ?
#We can do that with a pivot table.

In [67]:
df.pivot_table(index='Year',columns='Sport',values='Height').dropna(thresh=30)

Sport,Alpine Skiing,Archery,Art Competitions,Athletics,Badminton,Baseball,Basketball,Beach Volleyball,Biathlon,Bobsleigh,...,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Tug-Of-War,Volleyball,Water Polo,Weightlifting,Wrestling
Year,,,,,,,,,,,,,,,,,,,,,
1964,169.783784,NaN,NaN,175.876506,NaN,NaN,189.920635,NaN,174.295455,177.274725,...,NaN,NaN,NaN,NaN,NaN,NaN,179.374302,181.942623,168.521127,171.920690
1968,171.181360,NaN,NaN,176.355755,NaN,NaN,189.880435,NaN,176.116071,177.433333,...,NaN,NaN,NaN,NaN,NaN,NaN,180.912195,182.629630,168.273885,171.954545
1972,170.952681,172.215054,NaN,175.936145,NaN,NaN,193.321053,NaN,175.613208,178.747748,...,NaN,NaN,NaN,NaN,NaN,NaN,182.091703,182.835227,167.491979,171.049751
1976,171.251282,170.796875,NaN,176.658613,NaN,NaN,189.760563,NaN,177.021505,179.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,182.564815,184.755725,166.865497,171.666667
1980,171.365741,172.651515,NaN,176.641509,NaN,NaN,190.985981,NaN,177.982759,180.810127,...,NaN,NaN,NaN,NaN,NaN,NaN,185.051813,185.809160,168.292208,172.403162
1984,172.958944,171.663462,NaN,175.800367,NaN,NaN,192.352113,NaN,179.109195,180.955556,...,NaN,NaN,NaN,NaN,NaN,NaN,185.492754,186.255034,168.055866,172.289286
1988,173.618357,172.648221,NaN,175.551587,NaN,NaN,191.038136,NaN,178.808383,182.625000,...,171.342246,NaN,179.535354,NaN,NaN,NaN,187.878151,186.529412,169.393365,172.198630
1992,174.500000,174.095238,NaN,176.087613,174.051546,180.273381,193.125541,NaN,173.973262,182.869822,...,171.266667,NaN,177.814655,NaN,NaN,NaN,189.207865,188.370690,171.173228,172.827362
1996,NaN,173.757764,NaN,176.476684,175.128319,182.328467,190.770318,184.030769,NaN,NaN,...,170.725888,NaN,177.941423,NaN,NaN,NaN,189.865471,190.033898,169.789474,173.390625
2000,NaN,174.058824,NaN,176.537860,173.920000,182.386243,191.000000,185.083333,NaN,NaN,...,171.191011,175.158416,177.923077,167.869565,173.242424,NaN,189.000000,184.900433,166.770833,174.549521
2004,NaN,173.731132,NaN,176.301748,173.595000,183.476440,191.637631,185.437500,NaN,NaN,...,170.915385,175.548387,178.632000,165.812500,173.676768,NaN,189.865724,184.278431,167.398374,172.894428
2008,NaN,173.279793,NaN,176.038164,173.699454,183.826316,191.714286,187.322917,NaN,NaN,...,170.951613,176.132231,179.055118,165.781250,174.390909,NaN,190.438163,185.191406,166.040650,172.565598
2012,NaN,173.295000,NaN,176.095578,174.263736,NaN,192.351916,186.937500,NaN,NaN,...,171.607759,176.904762,180.118881,166.312500,173.681818,NaN,189.926829,186.085603,166.508065,172.546547
2016,NaN,173.363636,NaN,175.207140,174.502825,NaN,191.932384,187.375000,NaN,NaN,...,172.038627,179.650794,180.153846,167.500000,173.200000,NaN,190.332155,185.286822,166.713725,172.523121

# what about max and min

In [69]:
df.pivot_table(index='Year',columns='Sport',values='Height',aggfunc='min').dropna(thresh=30)

Sport,Alpine Skiing,Archery,Art Competitions,Athletics,Badminton,Baseball,Basketball,Beach Volleyball,Biathlon,Bobsleigh,...,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Tug-Of-War,Volleyball,Water Polo,Weightlifting,Wrestling
Year,,,,,,,,,,,,,,,,,,,,,
1964,155.0,NaN,NaN,152.0,NaN,NaN,168.0,NaN,164.0,161.0,...,NaN,NaN,NaN,NaN,NaN,NaN,155.0,167.0,149.0,137.0
1968,142.0,NaN,NaN,152.0,NaN,NaN,163.0,NaN,164.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,154.0,147.0,150.0
1972,153.0,153.0,NaN,150.0,NaN,NaN,169.0,NaN,162.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,162.0,161.0,145.0,145.0
1976,142.0,156.0,NaN,150.0,NaN,NaN,162.0,NaN,162.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,161.0,144.0,150.0
1980,154.0,157.0,NaN,150.0,NaN,NaN,165.0,NaN,160.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,169.0,175.0,150.0,149.0
1984,152.0,152.0,NaN,145.0,NaN,NaN,162.0,NaN,165.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,162.0,174.0,148.0,147.0
1988,152.0,152.0,NaN,147.0,NaN,NaN,162.0,NaN,167.0,170.0,...,146.0,NaN,160.0,NaN,NaN,NaN,162.0,170.0,148.0,140.0
1992,158.0,157.0,NaN,148.0,156.0,165.0,162.0,NaN,150.0,168.0,...,150.0,NaN,157.0,NaN,NaN,NaN,162.0,175.0,148.0,140.0
1996,NaN,153.0,NaN,147.0,157.0,170.0,165.0,165.0,NaN,NaN,...,150.0,NaN,157.0,NaN,NaN,NaN,163.0,175.0,147.0,152.0
2000,NaN,153.0,NaN,146.0,150.0,147.0,162.0,165.0,NaN,NaN,...,145.0,154.0,150.0,154.0,155.0,NaN,153.0,162.0,145.0,155.0
2004,NaN,157.0,NaN,142.0,155.0,160.0,162.0,165.0,NaN,NaN,...,149.0,150.0,159.0,154.0,157.0,NaN,153.0,162.0,145.0,147.0
2008,NaN,155.0,NaN,150.0,155.0,170.0,162.0,166.0,NaN,NaN,...,150.0,155.0,156.0,156.0,155.0,NaN,159.0,160.0,141.0,147.0
2012,NaN,152.0,NaN,145.0,155.0,NaN,162.0,168.0,NaN,NaN,...,152.0,154.0,156.0,154.0,154.0,NaN,159.0,163.0,140.0,147.0
2016,NaN,153.0,NaN,145.0,156.0,NaN,161.0,163.0,NaN,NaN,...,149.0,156.0,159.0,155.0,153.0,NaN,159.0,163.0,145.0,150.0

In [70]:
df.pivot_table(index='Year',columns='Sport',values='Height',aggfunc='max').dropna(thresh=30)

Sport,Alpine Skiing,Archery,Art Competitions,Athletics,Badminton,Baseball,Basketball,Beach Volleyball,Biathlon,Bobsleigh,...,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Tug-Of-War,Volleyball,Water Polo,Weightlifting,Wrestling
Year,,,,,,,,,,,,,,,,,,,,,
1964,187.0,NaN,NaN,202.0,NaN,NaN,218.0,NaN,185.0,189.0,...,NaN,NaN,NaN,NaN,NaN,NaN,198.0,198.0,193.0,198.0
1968,193.0,NaN,NaN,203.0,NaN,NaN,216.0,NaN,191.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,201.0,202.0,194.0,198.0
1972,193.0,189.0,NaN,202.0,NaN,NaN,223.0,NaN,189.0,201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,201.0,202.0,192.0,198.0
1976,188.0,185.0,NaN,202.0,NaN,NaN,220.0,NaN,200.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,200.0,202.0,193.0,198.0
1980,188.0,188.0,NaN,202.0,NaN,NaN,220.0,NaN,200.0,198.0,...,NaN,NaN,NaN,NaN,NaN,NaN,207.0,202.0,196.0,214.0
1984,192.0,188.0,NaN,208.0,NaN,NaN,218.0,NaN,200.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,203.0,204.0,190.0,198.0
1988,192.0,195.0,NaN,203.0,NaN,NaN,223.0,NaN,200.0,195.0,...,196.0,NaN,203.0,NaN,NaN,NaN,210.0,205.0,194.0,214.0
1992,192.0,195.0,NaN,203.0,193.0,198.0,223.0,NaN,200.0,196.0,...,196.0,NaN,200.0,NaN,NaN,NaN,209.0,205.0,192.0,198.0
1996,NaN,191.0,NaN,207.0,199.0,199.0,223.0,202.0,NaN,NaN,...,193.0,NaN,200.0,NaN,NaN,NaN,217.0,206.0,195.0,204.0
2000,NaN,197.0,NaN,205.0,199.0,206.0,226.0,208.0,NaN,NaN,...,192.0,201.0,198.0,185.0,193.0,NaN,217.0,206.0,193.0,204.0
2004,NaN,197.0,NaN,207.0,193.0,201.0,226.0,201.0,NaN,NaN,...,193.0,201.0,208.0,180.0,193.0,NaN,217.0,205.0,205.0,200.0
2008,NaN,193.0,NaN,206.0,195.0,198.0,226.0,206.0,NaN,NaN,...,192.0,203.0,203.0,179.0,196.0,NaN,212.0,205.0,197.0,203.0
2012,NaN,194.0,NaN,208.0,201.0,NaN,221.0,210.0,NaN,NaN,...,196.0,203.0,206.0,179.0,194.0,NaN,219.0,205.0,197.0,203.0
2016,NaN,194.0,NaN,208.0,201.0,NaN,218.0,212.0,NaN,NaN,...,198.0,207.0,204.0,183.0,191.0,NaN,211.0,206.0,197.0,203.0

# What about if we need multiple functions?

In [72]:
df.pivot_table(index='Year',columns='Sport',values='Height',aggfunc=['min','mean','max']).dropna(thresh=30)

                min                                                        \
Sport Alpine Skiing Archery Art Competitions Athletics Badminton Baseball
Year
1900            NaN     NaN              NaN     160.0       NaN      NaN
1904            NaN   165.0              NaN     155.0       NaN      NaN
1906            NaN     NaN              NaN     165.0       NaN      NaN
1908            NaN     NaN              NaN     160.0       NaN      NaN
1912            NaN     NaN              NaN     157.0       NaN      NaN
1920            NaN     NaN              NaN     148.0       NaN      NaN
1924            NaN     NaN            170.0     159.0       NaN      NaN
1928            NaN     NaN            164.0     152.0       NaN      NaN
1932            NaN     NaN            150.0     156.0       NaN      NaN
1936          155.0     NaN            175.0     152.0       NaN      NaN
1948          157.0     NaN            176.0     155.0       NaN      NaN
1952          163.0     NaN              NaN     154.0       NaN      NaN
1956          159.0     NaN              NaN     153.0       NaN      NaN
1960          156.0     NaN              NaN     151.0       NaN      NaN
1964          155.0     NaN              NaN     152.0       NaN      NaN
1968          142.0     NaN              NaN     152.0       NaN      NaN
1972          153.0   153.0              NaN     150.0       NaN      NaN
1976          142.0   156.0              NaN     150.0       NaN      NaN
1980          154.0   157.0              NaN     150.0       NaN      NaN
1984          152.0   152.0              NaN     145.0       NaN      NaN
1988          152.0   152.0              NaN     147.0       NaN      NaN
1992          158.0   157.0              NaN     148.0     156.0    165.0
1994          155.0     NaN              NaN       NaN       NaN      NaN
1996            NaN   153.0              NaN     147.0     157.0    170.0
1998          156.0     NaN              NaN       NaN       NaN      NaN
2000            NaN   153.0              NaN     146.0     150.0    147.0
2002          154.0     NaN              NaN       NaN       NaN      NaN
2004            NaN   157.0              NaN     142.0     155.0    160.0
2006          157.0     NaN              NaN       NaN       NaN      NaN
2008            NaN   155.0              NaN     150.0     155.0    170.0
2010          156.0     NaN              NaN       NaN       NaN      NaN
2012            NaN   152.0              NaN     145.0     155.0      NaN
2014          156.0     NaN              NaN       NaN       NaN      NaN
2016            NaN   153.0              NaN     145.0     156.0      NaN

                                                      ...          max  \
Sport Basketball Beach Volleyball Biathlon Bobsleigh  ... Table Tennis
Year                                                  ...
1900         NaN              NaN      NaN       NaN  ...          NaN
1904         NaN              NaN      NaN       NaN  ...          NaN
1906         NaN              NaN      NaN       NaN  ...          NaN
1908         NaN              NaN      NaN       NaN  ...          NaN
1912         NaN              NaN      NaN       NaN  ...          NaN
1920         NaN              NaN      NaN       NaN  ...          NaN
1924         NaN              NaN      NaN       NaN  ...          NaN
1928         NaN              NaN      NaN     168.0  ...          NaN
1932         NaN              NaN      NaN     165.0  ...          NaN
1936       167.0              NaN      NaN     153.0  ...          NaN
1948       170.0              NaN      NaN     168.0  ...          NaN
1952       170.0              NaN      NaN     180.0  ...          NaN
1956       168.0              NaN      NaN     165.0  ...          NaN
1960       168.0              NaN    172.0       NaN  ...          NaN
1964       168.0              NaN    164.0     161.0  ...          NaN
1968       163.0              NaN    164.0     160.0  ...          NaN
1972       169.0              NaN    162.0     155.0  ...          NaN
1976       162.0              NaN    162.0     155.0  ...          NaN
1980       165.0              NaN    160.0     155.0  ...          NaN
1984       162.0              NaN    165.0     155.0  ...          NaN
1988       162.0              NaN    167.0     170.0  ...        196.0
1992       162.0              NaN    150.0     168.0  ...        196.0
1994         NaN              NaN    150.0     167.0  ...          NaN
1996       165.0            165.0      NaN       NaN  ...        193.0
1998         NaN              NaN    150.0     167.0  ...          NaN
2000       162.0            165.0      NaN       NaN  ...        192.0
2002         NaN              NaN    150.0     162.0  ...          NaN
2004       162.0            165.0      NaN       NaN  ...        193.0
2006         NaN              NaN    151.0     160.0  ...          NaN
2008       162.0            166.0      NaN       NaN  ...        192.0
2010         NaN              NaN    152.0     160.0  ...          NaN
2012       162.0            168.0      NaN       NaN  ...        196.0
2014         NaN              NaN    152.0     158.0  ...          NaN
2016       161.0            163.0      NaN       NaN  ...        198.0

                                                                     \
Sport Taekwondo Tennis Trampolining Triathlon Tug-Of-War Volleyball
Year
1900        NaN  191.0          NaN       NaN        NaN        NaN
1904        NaN  183.0          NaN       NaN      189.0        NaN
1906        NaN    NaN          NaN       NaN      190.0        NaN
1908        NaN    NaN          NaN       NaN      195.0        NaN
1912        NaN  188.0          NaN       NaN        NaN        NaN
1920        NaN  175.0          NaN       NaN      192.0        NaN
1924        NaN  194.0          NaN       NaN        NaN        NaN
1928        NaN    NaN          NaN       NaN        NaN        NaN
1932        NaN    NaN          NaN       NaN        NaN        NaN
1936        NaN    NaN          NaN       NaN        NaN        NaN
1948        NaN    NaN          NaN       NaN        NaN        NaN
1952        NaN    NaN          NaN       NaN        NaN        NaN
1956        NaN    NaN          NaN       NaN        NaN        NaN
1960        NaN    NaN          NaN       NaN        NaN        NaN
1964        NaN    NaN          NaN       NaN        NaN      198.0
1968        NaN    NaN          NaN       NaN        NaN      201.0
1972        NaN    NaN          NaN       NaN        NaN      201.0
1976        NaN    NaN          NaN       NaN        NaN      200.0
1980        NaN    NaN          NaN       NaN        NaN      207.0
1984        NaN    NaN          NaN       NaN        NaN      203.0
1988        NaN  203.0          NaN       NaN        NaN      210.0
1992        NaN  200.0          NaN       NaN        NaN      209.0
1994        NaN    NaN          NaN       NaN        NaN        NaN
1996        NaN  200.0          NaN       NaN        NaN      217.0
1998        NaN    NaN          NaN       NaN        NaN        NaN
2000      201.0  198.0        185.0     193.0        NaN      217.0
2002        NaN    NaN          NaN       NaN        NaN        NaN
2004      201.0  208.0        180.0     193.0        NaN      217.0
2006        NaN    NaN          NaN       NaN        NaN        NaN
2008      203.0  203.0        179.0     196.0        NaN      212.0
2010        NaN    NaN          NaN       NaN        NaN        NaN
2012      203.0  206.0        179.0     194.0        NaN      219.0
2014        NaN    NaN          NaN       NaN        NaN        NaN
2016      207.0  204.0        183.0     191.0        NaN      211.0


Sport Water Polo Weightlifting Wrestling
Year
1900       185.0           NaN       NaN
1904       173.0         176.0     180.0
1906         NaN         177.0     182.0
1908       191.0           NaN     190.0
1912       191.0           NaN     200.0
1920       188.0         170.0     183.0
1924       194.0         178.0     189.0
1928       198.0         180.0     183.0
1932       188.0         178.0     184.0
1936       190.0         180.0     188.0
1948       190.0         183.0     187.0
1952       199.0         186.0     190.0
1956       199.0         186.0     190.0
1960       198.0         193.0     198.0
1964       198.0         193.0     198.0
1968       202.0         194.0     198.0
1972       202.0         192.0     198.0
1976       202.0         193.0     198.0
1980       202.0         196.0     214.0
1984       204.0         190.0     198.0
1988       205.0         194.0     214.0
1992       205.0         192.0     198.0
1994         NaN           NaN       NaN
1996       206.0         195.0     204.0
1998         NaN           NaN       NaN
2000       206.0         193.0     204.0
2002         NaN           NaN       NaN
2004       205.0         205.0     200.0
2006         NaN           NaN       NaN
2008       205.0         197.0     203.0
2010         NaN           NaN       NaN
2012       205.0         197.0     203.0
2014         NaN           NaN       NaN
2016       206.0         197.0     203.0

[34 rows x 177 columns]

# Pivot table are veryy powerful, Its good to have two categorical variables and with one numerical vale, Just like you have seen above